# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node modules
node_modules/

# Firebase cache
.firebase/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase config (contains sensitive information)
.runtimeconfig.json
